.formulario{
    border-radius: 25px;
    width: 40%;
    /* margin-left: 23%; */
    padding: 20px;
    border: 1px solid;
    border-color: #2596be;
    background-color: #2595be2d;
    margin-top: 50px;
}


.botonDonar{
    background-color:#2596be;
    border-radius: 10px;
    color: white;
    border: none;
    height: 40px;
    width: 80%;
    margin-right: 2%;
   
   
}

.botonVolver{
    background-color:#f37254;
    border-radius: 10px;
    color: white;
    border: none;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}

.botonForm{
    background-color: #2596be;
    border-radius: 10px;
    color: white;
    border: none;
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
}

.inputForm{
    border-radius: 25px;
    margin-bottom: 10px;
}

.containerForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.tituloh2{
font-size: 14px;
}