.formulario{
    border-radius: 25px;
    width: 50%;
    margin-left: 23%;
    padding: 20px;
    border: 1px solid;
    border-color: #2596be;
    background-color: #2595be2d;
}

.botonVolver{
    width: 90px;
    height: 65px;
    background-color:#f37254;
    border-radius: 10px;
    color: white;
    border: none;
}

.botonForm{
    height: 65px; 
    background-color: #2596be;
    margin: 2%;
    border-radius: 10px;
    color: white;
    border: none;
}

.botonDestacado {
    height: 65px;
    background-color:#f37254;
    border-radius: 10px;
    color: white;
    border: none;
}

.botonOtro {
    width: 75px;
    height: 65px;
    background-color:#2596be;
    border-radius: 10px;
    color: white;
    border: none;
    margin-right: 10px;
    
}

.botonHover:hover {
    background-color: rgb(215, 142, 1);
    transition: 0.4s;
  }

.inputForm{
    border-radius: 25px;
}

.containerForm{
    display: flex;
    flex-direction: row;
}

.masterForm {
    margin-top: 50px;
    margin-bottom: 50px;

}

.centerText {
    margin-top: 10px;
    margin-right: 70px;
    text-align: center;
}


