.formulario{
    border-radius: 25px;
    width: 50%;
    margin-left: 23%;
    padding: 20px;
    border: 1px solid;
    border-color: #2596be;
    background-color: #2595be2d;
}

.botonVolver{
    background-color:#f37254;
    border-radius: 10px;
    color: white;
    border: none;
}

.botonForm{
    background-color: #2596be;
    margin: 2%;
    border-radius: 10px;
    color: white;
    border: none;
}

.inputForm{
    border-radius: 25px;
}

.containerForm{
    display: flex;
    flex-direction: row;
}

