.navbarProp {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    
}

.column1 {
  width: 90%;
    
} 

.column2 {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    
} 

.btnDona{
    color: white;
    border: none;
    width: 100%;
    background-color: #f37254;
    font-size: large;
    font-weight: 100;
    }
    