navbarProp {
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: transparent;
  color: white;
}

.botonDona {
  color: white;
  border-radius: 10px;
  border: 1px solid;
  background-color: rgb(215, 142, 1);

  font-weight: 100;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.btnHover:hover {
  background-color: rgb(134, 134, 134);
}

.letraBtn {
  color: white;
  text-align: center;
  font-size: xx-large;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
  position: fixed;
  top: 0;
  transition: 0.2s;
}
