.container {
    width: 10%;
}

.singleButton {
    width: 90px;
    height: 65px;
    border-radius: 20px;
    color: white;
    background-color: #EA6D4F;
    margin: 5px;
    font-size: x-large;
}

.containerColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titles{
    color: rgb(0, 146, 221);
    margin-right: 10px;
}

.mercadoPago {
    display: flex;
    flex-direction: row;
}

.p {
    line-height: 0.2;
}

.divMercadoPago {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .donacionHover:hover {
    background-color: rgb(215, 142, 1);
    transition: 0.4s;
  } */

