.card-title2{
    font-size: 3em !important; 
    text-align: center;
    color: black;
    
}

.img-reality{
    width: 25% !important;
    height: 450px !important;
    /* background-color: #f37254 !important; */
    border: none !important;
    color: black;
}

.s-img{
    /* height: 50% !important;
    width: 70%  !important;   si aplicamos la medida pierde alineacion al centro*/
    display: flex;
    text-align: center !important;
    
}

.reality-center{
    text-align: center !important;
}