.card-title2{
    font-size: 3em !important; 
    text-align: center;
    color: black;
    
}


.s-img{
    /* height: 50% !important;
    width: 70%  !important;   si aplicamos la medida pierde alineacion al centro*/
    display: flex;
    text-align: center !important;
    
}

.reality-center{
    text-align: center !important;
}